@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");
@import url("styles/quiz.css");

:root {
    --corFundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azulDegrade: linear-gradient(360deg, gray,  rgb(99, 93, 93), rgb(78, 73, 73) );
    --fontePrincipal: "Poppins";
    --azul: #002F52;
    --fonteSecundaria: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinzaClaro: #858585;
}

body {
    background-color: var(--corFundo);
    font-family: var(--fontePrincipal);
    font-size: 16px;
    font-weight: 400;
}
